@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: Arial;
}
img { 
	border: 0px 0px 0px 0px;
}
body {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#head_page{
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; MARGIN: auto; WIDTH: 1102px; 
	height:5px;	BACKGROUND:#333; OVERFLOW: hidden; 	BORDER-TOP: red 0px solid; BORDER-RIGHT: red 0px solid
}
#container_outer {
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; MARGIN: auto; WIDTH: 1002px; 
	BACKGROUND:url(../images/bg_shadow.png) repeat-y 13px 0px; OVERFLOW: hidden; 
	BORDER-TOP: red 0px solid; BORDER-RIGHT: red 0px solid
}
#foot_outer {
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; MARGIN: auto; WIDTH: 1002px; 
	background:url(../images/foot_outer2.png) no-repeat; OVERFLOW: hidden; 
	BORDER-TOP: red 0px solid; BORDER-RIGHT: red 0px solid;
	height:20px;
}
#container_inner {
	MARGIN: auto; WIDTH: 955px
}
#foot_banner{
	BORDER-BOTTOM: red 0px solid; BORDER-LEFT: red 0px solid; MARGIN: auto; WIDTH: 1002px; 
	OVERFLOW: hidden; 	BORDER-TOP: red 0px solid; BORDER-RIGHT: red 0px solid;
	height:220px;
}
#top_head{
	/*width: 954px;*/
	height: 96px;
	background:url(../images/top_banner.png) no-repeat;
}
#top_head #logo{
	WIDTH: 281px; 
	FLOAT: left;
	margin-left:13px;
}
#top_head #logo_right{
	WIDTH: 320px; PADDING-RIGHT: 25px; FLOAT: right
}

#logo_right a:link, a:visited, a:active, a:hover{
	color:#FFF;
	text-decoration:none;
}

#logo_right .news_latter{
	float:right;
	color:#FFF;
	display:block;
	margin-left:10px;
	padding-left:15px;
	padding-right:15px;
	font-size:12px; 
	height:15px;
	padding-top:3px;
	padding-bottom:2px;
	background:#313131;
}
#logo_right .member_login{
	background:#96bc43;
	float:right;
	color:#FFF;
	display:block;
	margin-left:10px;
	margin-right:10px;
	padding-left:20px;
	padding-right:20px;
	font-size:12px; 
	height:15px;
	padding-top:3px;
	padding-bottom:2px;
}

/*  chrome menu js  */
.chromestyle {
	BORDER-BOTTOM: #96bc43 1px solid; BACKGROUND-COLOR: #299ce1; WIDTH: 952px; FONT: bold 11px tahoma, Verdana; MARGIN-LEFT: 2px; OVERFLOW: hidden
}
.chromestyle:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; MARGIN-LEFT: 0px; CLEAR: both; CONTENT: "."
}
.chromestyle UL {
	TEXT-ALIGN: left; PADDING-BOTTOM: 7px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 950px; PADDING-RIGHT: 0px; BACKGROUND:url(../images/navigator_bar.png)  repeat-x; BORDER-TOP: #96bc43 1px solid; PADDING-TOP: 7px
}
.chromestyle UL LI {
	MARGIN: 0px; DISPLAY: inline
}
.chromestyle UL LI A {
	PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; COLOR: #ffffff; TEXT-DECORATION: none; PADDING-TOP: 7px
}
.chromestyle UL LI A:hover {
	BORDER-BOTTOM: #000000 1px solid; PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #e1e1e1; PADDING-LEFT: 18px; WIDTH: 1px; PADDING-RIGHT: 18px; HEIGHT: 25px; COLOR: #000000; PADDING-TOP: 7px
}
.chromestyle UL LI A.selected {
	BORDER-BOTTOM: #000000 1px solid; PADDING-BOTTOM: 7px; BACKGROUND-COLOR: #e1e1e1; PADDING-LEFT: 18px; WIDTH: 1px; PADDING-RIGHT: 18px; HEIGHT: 25px; COLOR: #000000; PADDING-TOP: 7px
}
.dropmenudiv {
	Z-INDEX: 100; BORDER-BOTTOM: #bbb 0px solid; POSITION: absolute; BORDER-LEFT: #bbb 0px solid; PADDING-BOTTOM: 10px; MARGIN: -2px 0px 0px; WIDTH: 200px; FONT: bold 11px/20px tahoma, Verdana; VISIBILITY: hidden; COLOR: #777777; BORDER-TOP: #bbb 0px solid; BORDER-RIGHT: #bbb 0px solid
}
.dropmenudiv A {
	BORDER-BOTTOM: #cecece 0px solid; TEXT-INDENT: 27px; WIDTH: auto; DISPLAY: block; BACKGROUND: #e1e1e1; COLOR: #000; CLEAR: both; TEXT-DECORATION: none
}
* HTML .dropmenudiv A {
	WIDTH: 100%
}
.dropmenudiv A:hover {
	BACKGROUND-COLOR: #299ce1; COLOR: #fff; TEXT-DECORATION: none
}
/*__________________*/
#banner_slogan{
	height:285px;
	background:url(../images/banner_slogan.png) no-repeat;
}

#body_content{
	margin-top: 15px;
	
}
#body_content #col_left{
	float: left;
	width: 635px;
	margin-left: 15px;
	margin-right: 15px;
	font-family:Verdana;
	font-size:12px;
	color:#707577;
}

/*col_right*/
#body_content #col_right{
	float: left;
	margin-right: 15px;
	width: 275px;
	/*height: 500px;*/	
}
#col_right #take_a_tour{
	width: 275px;
	height: 320px;
	margin-bottom: 15px;
}
#take_a_tour #tour_topic{
	width: 275px;
	height: 130px;
	background:url(../images/logo_take-a-tour.png);
}
#take_a_tour #tour_box{
	width: 250px;
	margin-left: 15px;
	margin-right: 10px;
	height: 150px;
}

#take_a_tour #tour_box .box_label{
	width: 65px;
	height: 19px;
	padding-top:5px;
	padding-left:10px;
	float:left;
	font-weight:bold;
}

#take_a_tour #tour_box .box_line{
	margin-bottom: 5px;
	height:24px;

}
.input-fils {
	BORDER-BOTTOM: #61b9f5 1px solid; 
	BORDER-LEFT: #61b9f5 1px solid; 
	padding-top: 3px;
	WIDTH: 160px; 
	height:19px;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 14px; 
	BORDER-TOP: #61b9f5 1px solid; 
	FONT-WEIGHT: bold; 
	BORDER-RIGHT: #61b9f5 1px solid; 
}

#tour_cmd{
	height:31px;
	width:37;
	margin-left: 120px;
}
#tour_bar{
	height:38px;
	width:275px;
	background:url(../images/take_tour_repreat_bar.png) repeat-x;
}

#col_right #why_bkk{
	width: 275px;
	height: 281px;
	margin-bottom: 10px;
}
#col_right #testimonials{
	width: 275px;
	height: 284px;
	margin-bottom: 10px;
}
#col_right #today_member{
	width: 275px;
	height: 296px;
	margin-bottom: 10px;
}

#col_right #distibutor{
	width: 275px;
	height: 421px;
	margin-bottom: 10px;
	background:#000;
}

#distibutor .distibutor_banner{
	width: 275px;
	height: 96px;
	background:url(../images/logo_distributor_banner.png) no-repeat;
}

#distibutor .distibutor_body{
	width: 255px;
	height: 130px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
#distibutor .distibutor_body .distibutor_pic{
	width: 80px;
	height: 110px;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}
#distibutor .distibutor_body .distibutor_text{
	width: 155px;
	height: 120px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	color:#FFF;
	font-size:10px;
	line-height:10px;
	float:left;
}
.distibutor_name{
	color:#FFF;
	font-weight:bold;
	height:15px;
	display:block; 
	margin-top:10px;
	margin-bottom:7px;
	font-size:12px;
}

#col_right #currently_operational{
	width: 275px;
	height: 236px;
	margin-bottom: 10px;
}

#col_right #joinnow{
	width: 275px;
	height: 251px;
	margin-bottom: 20px;
}

/*content1*/
#video{
	width: 635px;
	height: 327px;
	margin-bottom:10px;
}

#content1{
	width: 635px;
	height: 270px;
	background:url(../images/bg_content.png) no-repeat;
}

.content1_1col{
	width: 610px;
	padding-right: 10px;
	padding-top: 20px;
	text-align:justify;
	line-height: 17px;
	padding-left: 15px;
}
#content1_topic1{
	width: 635px;
}

#content1 #content1_left{
	width: 239px;
	height: 155px;
	float:left;
	margin-left: 15px;
	margin-top: 10px
}

#content1 #content1_right{
	width: 346px;
	height: 145px;
	float:left;
	margin-left: 10px;
	line-height: 18px;
	text-align:justify;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 20px;
	margin-top: 10px;
}
#content1_bottom{
	width: 610px;
	/*height: 350px;*/
	margin-left: 15px;
	margin-top: 10px;
	padding-right: 10px;
	line-height: 18px;
	text-align:justify;
}

.hilight_font{
	color:#0a6798;
	font-weight:bold;
}

/*content2*/
#content2{
	width: 635px;
}

#content2_topic1{
	width: 635px;
	height: 54px;
}

#content2 #content2_l{
	/*float: left;*/
	width: 312px;
	padding-right: 308px;
	padding-top: 20px;
	height: 249px;
	line-height: 18px;
	text-align:justify;
	padding-left: 15px;
	background:url(../images/topic2_icon_bg.png);
}

#content2 #content2_r{
	width: 288px;
	height: 264px;
	float: left;
}

/*content3*/
#content3{
	width: 635px;
	margin-top: 5px;
	line-height: 20px;
}

#content3 #content3_topic{
	width: 635px;
	height: 94px;
}

#content3 #content3_body{
	width: 302px;
	height: 205px;
	background:url(../images/card.png) no-repeat;
	padding-left: 318px;
	padding-right: 15px;
	padding-top: 5px;
	line-height: 20px;
}

#content4{
	margin-top: 20px;
	width: 635px;
}

#content4 #content4_topic{
	height: 148px;
	background:url(../images/midden_banner.png);
}

#content4 #content4_body{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 30px;
	line-height: 18px;
	text-align:justify;
}

/*about*/
#about{
	width: 635px;
	height: 285px;
	background:url(../images/bg_content.png) no-repeat;
}

#about #content1_about{
	width: 278px;
	height: 175px;
	float:left;
	margin-left: 15px;
	margin-top: 10px
}
#about #content1_about_right{
	width: 317px;
	height: 165px;
	float:left;
	margin-left: 10px;
	line-height: 18px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 10px;
	margin-top: 10px;
}

#about_content2{
	width: 635px;
}

.about_content2_topic1{
	width: 635px;
	height: 54px;
}

.about_content2_story{
	/*float: left;*/
	width: 610px;
	margin-right: 10px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	line-height: 18px;
	text-align: justify;
}
.about_content2_story ul li{
	background:url(../images/ok.png) no-repeat;
	display:block;
	list-style:none;
	padding-left:30px;
	line-height: 20px;
}

/*vision*/
#vision{
	width: 635px;
	height: 700px;
	background:url(../images/bg_content.png) no-repeat;
	line-height: 18px;
	text-align:justify;
}

.vision_warp{
	width: 635px;
	float:left;
}

.vision_topic{
	width: 635px;
	float:left;
}

.vision_left{
	width: 199px;
	height: 155px;
	float:left;
	margin-left: 25px;
	margin-top: 20px
}

.vision_right{
	width: 376px;
	height: 145px;
	float:left;
	margin-left: 10px;
	line-height: 20px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 10px;
	margin-top: 20px;
}
